# Python
__pycache__/
*.pyc
.venv/

# Debug artifacts
/debug_roland/
/debug_panasonic/
/debug_decimator/
/debug_*/*

# Local data
*.sqlite3
fetch_cache.json
config.json
Caddyfile
/logs/
client_aliases.json

# OS
.DS_Store
Thumbs.db

# Local venv
/firmware/
